################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
*.sqlite
/InfyTest/musicbands/bin/Debug/netcoreapp2.1
/InfyTest/musicbands/packages
/InfyTest/musicbands/obj
/InfyTest/TestProjects/obj/Debug
/InfyTest/TestProjects/bin/Debug
/InfyTest/musicbands/.vs/musicbands/v16/Server/sqlite3/storage.ide-wal
/InfyTest/musicbands/.vs/musicbands/v16/Server/sqlite3/storage.ide-shm
/InfyTest/musicbands/.vs/musicbands/v16/TestStore/0
/InfyTest/TestProjects/obj/Release
/InfyTest/UnitTestCases/obj
/InfyTest/UnitTestCases/bin/Debug/netcoreapp2.1
