@{
    ViewData["Title"] = "Festivals";
}
<h2>@ViewData["Title"]</h2>

<span style="text-decoration:underline">Music band data</span>
<br />
<br />

<div id="jstreesimple">

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("GetTreeData", "Home")',
            success: function (data) {

                $('#jstreesimple')
                    .jstree({
                        'core': { 'data': data }
                    })
                     .bind("ready.jstree", function (event, data) {
                        $(this).jstree("open_all");
                    });
            }
        });
    });
</script>